<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рубрика :: {{ current_rubric.name }}</title>

    <link rel="stylesheet" href="{% static 'mystery/style.css' %}">
</head>
<body>
    <h1>Объявления</h1>
    <h2>Рубрика: {{ current_rubric.name }}</h2>
    <div>
        <nav><a href="/mystery/">Главная</a>
        <a href="{% url 'add' %}">Добавить заметку</a></nav>
    </div>
    <h2>Заметки:</h2>
    {% for ph in photos %}
        <div id="ph">
            <h2>{{ ph.title }}</h2>
            <p>{{ ph.context }}</p>
            <p><a href="/mystery/{{ ph.rubric.pk }}/">
            {{ ph.rubric.name }}</a></p>
            <p>{{ ph.published|date:"d.m.Y H:i:s" }}</p>
        </div>
    {% endfor %}
</body>
</html>